"C:/your_local_repository/your_php_project/src/": # what folder to watch for local file changes
  latency: 400 # how long to wait to reload tab after a file has changed 
  updatealltabs: false # update all tabs related to this local folder
  ignored: 
    - "C:/your_local_repository/your_php_project/src/generated" # this folder please do not watch for local file changes
  extensions: # files with this extensions should be watched
    - php
    - js
    - html
  domains: # associated domains for your local project folder
    - "mypage.com"
    - "mobile.mypage.org"
  clearpath: [] # clear files in this folder locally before tab reload begins
  clearurl: # or use a php script to clear your temp files
    - "http://mypage.com/clearcache.php"
"C:/your_local_repository/your_php_project2/source/":
  latency: 600
  updatealltabs: true
  ignored: 
    - "C:/your_local_repository/your_php_project2/source/generated"
  extensions:
    - php
    - js
  domains:
    - "mypage2.com"
    - "mobile.mypage2.org"
  clearpath: []
  clearurl:
    - "http://mypage2.com/clearmytempfiles.php"
